<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="EmployeesRestAPISuite">
<listeners>
<listener class-name="utility.Listeners"></listener>
</listeners>
	<test  name="EmployeesRestAPITest">
		<classes>
		<class name="request.Post" />
		<class name="request.update" />
	
		
			

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->